:root{
    --primary-color: #c8a987;
    --sec-color: #d8d961;
    --dark-primary-color: #947c63;
    --light-primary-color: #e5c39e;
    --black: #2e3133;
    --transparent-primary-color: #c8a9871f;
}

.dashboard-container{
    background-color: white;
    width: 80%;
    max-width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    overflow: scroll;
}

.top-section{
    height: 20dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    border-bottom: 2px solid var(--dark-primary-color);
    position: relative;
}

.cancel-btn{
    position: absolute;
    top: 5px;
    right: 10px;
}

.username{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.user-icon{
    background-color: var(--light-primary-color);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.category{
    padding: 10px 15px;
    margin: 10px;
}

.category-header{
    background-color: var(--primary-color);
    color: white;
    width: fit-content;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 20px;
}

.category-body ul{
    padding: 15px 5px;
}

.category-body ul li{
    background-color: white;
    margin: 7px 0;
    padding: 7px;
    color: var(--black);
    cursor: default;
}

.category-body ul li:hover{
    background-color: var(--transparent-primary-color);
}
