:root{
    --primary-color: #c8a987;
    --sec-color: #d8d961;
    --dark-primary-color: #947c63;
    --light-primary-color: #e5c39e;
    --vl-primary-color: #f8d4ad;
    --transparent-primary-color: #c8a98752;
    --black: #2e3133;
}

.flex-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 20px 20px;
}

.product-prop-container{
    width: 100%;
    max-width: 500px;
}

.product-container{
    width: 90%;
    margin: 10px auto;
    border-radius: 5px;
}

.product-image{
    aspect-ratio: 1/1;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 5%;
}

.product-name{
    font-size: 1em;
    line-height: 1.2;
    min-height: 50px;
    max-height: 70px;
}

.product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-size: 1.5em;
}

.product-name{
    padding-block: 10px;
}

.icon svg{
    width: 24px;
    height: 24px;
}

.icon svg.color{
    color: red;
}

.product-button button{
    width: 100%;
    padding: 10px;
    background-color: var(--black);
    border: 1px solid var(--black);
    text-transform: uppercase;
    color: white;
    transition: all .3s ease-in-out;
}

.product-button button:hover{
    background-color: var(--primary-color);
    color: var(--black);
}